/* ABOUT AND CONTACT PAGE CSS */



body{
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 28px;
    padding: 0;
    margin:0;
}




/* NAVIGATION */


nav ul {
    float: right;
    padding-top:50px;

}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 50px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #6F6F6F;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'poppins';

}

nav a:hover {
    color:#02A0D4;

}

@media screen and (max-width: 864px) {
    .logo {
          padding: 0;
    }


    .nav-wrapper {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background: white;
          opacity: 0;
          transition: all 0.2s ease;
    }



    .nav-wrapper ul {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
    }

    .nav-wrapper ul li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
          transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
          transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
          transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
          transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child) {
          margin-left: 0;
    }

    .nav-wrapper ul li a {
          padding: 10px 24px;
          opacity: 0;
          color: #6F6F6F;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 1.2px;
          transform: translateX(-20px);
          transition: all 0.2s ease;
    }

    .nav-btn {
          position: fixed;
          right: 10px;
          top: 10px;
          display: block;
          width: 48px;
          height: 48px;
          cursor: pointer;
          z-index: 9999;
          border-radius: 50%;
    }

    .nav-btn i {
          display: block;
          width: 20px;
          height: 2px;
          background: #4D4D4D;
          border-radius: 2px;
          margin-left: 14px;

    }

    .nav-btn i:nth-child(1) {
          margin-top: 30px;
    }

    .nav-btn i:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
    }

    .nav-btn i:nth-child(3) {
          margin-top: 4px;
    }
}

#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}


/* ABOUT PAGE AND CONTACT PAGE CSS */


.aboutcontainer, .contactcontainer {
    padding-left:20px;
    padding-right:20px;
    text-align:center;
    justify-items: center;
}

.aboutcontainer, .contactcontainer {
    background-color:#FEF1EB;
}

.aboutcontainer {
    background-color:white;
}

.aboutintro p, li {
    font-family:'BlinkMacSystemFont', '-apple-system', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.aboutintro h2 {
    font-weight:bold;
    font-size:26px;
    text-align:left;
    padding-top:100px;
}


.profilephoto img {
    width: 90%;
    text-align:center;
    padding-top:50px;
}

.meloimage img {
    width:275px;
    padding-top:50px;
    padding-bottom:50px;
}

.aboutintro p, li{
    text-align:left;
}

.aboutintro li {
    padding-bottom:15px;
}

.aboutintro ul {
    padding-left:30px;
}

.aboutintro a {
    text-decoration:none;
    font-weight: 600;
}

.logo {
    float: left;
    margin-top:10px;
    padding-top:20px;
    padding-left: 20px;
    }

.logo img {
    width:50%;
    }



/* CONTACT PAGE CSS */


.contacttext {
    padding-top:200px;
    padding-right: 50px;;
}

.contacttext h1 {
    text-align:left;
    font-size:26px;
    font-weight:600;
    line-height: 40px;
}

.contacttext p {
    text-align: left;
    font-family: 'BlinkMacSystemFont', '-apple-system', Arial, Helvetica, sans-serif;
    padding-bottom:50px;
}

.smilingemoji img {
    width:20px;
    position:relative;
    top:3px;
}

form {
    margin-top:50px;
    align-items: center;
    padding-bottom:200px;
}
.form-control {
    width: 300px;
    background:transparent;
    border:none;
    outline:none;
    border-bottom:1px solid gray;
    color:black;
    font-size:20px;
    margin-bottom:30px;
}

input {
    height:45px;

}

form .submit {
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    background: #A68DDE;
    border-color:transparent;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color:white;
    font-size:18px;
    font-weight:bold;
    font-family: 'poppins';
    letter-spacing:2px;
    height:50px;
    margin-top:50px;
}

.submit:hover {
    cursor: pointer;
}

.form-control .submit {
    padding-top:100px;
}


/* FOOTER */

footer {
    padding: 20px;
    text-align: center;
}

footer h2 {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size:22px;
}

.button2 {
    background: #A68DDE;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border:solid 2px #A68DDE;
    border-radius: 5px;
    padding: 10px 40px;
    color:white;
    font-family: 'poppins';
    font-weight:bold;
    font-size:18px;
    text-decoration: none;
    margin-bottom:100px;
 }

 .button2div {
    padding-bottom:50px;
}

.heart {
    position:relative;
    top: 5px;
}

.heart img {
    width:25px;
}

footer ul {
    margin:auto;
}

footer li {
    display: inline-block;
    padding-top:50px;
    padding-bottom:20px;
}

footer a {
    padding:20px;
}

footer ul img {
    width:40px;
}

footer p {
    font-size:14px;
}


/* ABOUT PAGE MEDIA QUERIES */

@media only screen and (min-width: 768px) {
    .profilephoto img {
        width: 90%;
        margin-top: 20px;
      }

      .meloimage img {
          width:450px;
      }
}



@media only screen and (min-width: 1200px) {


  .aboutcontainer, .contactcontainer {
    background-color: #FEF1EB;
    margin: -8px auto;
    display: inline-block;
    padding: 80px;
  }


  /* .aboutcontainer {
  background-color: white;
  } */

  .contactcontainer, .nav_bar {
    background-color: #FEF1EB;
    width: 100%;
    display: inline-block;
  }

  .aboutcontainer, .nav_bar {
    background-color: white;  
  }

  .contactnav {
    background-color:#FEF1EB;
  }

  .profilephoto {
      float:right;
      width: 45%;
  }

  .aboutintro {
    width: 45%;
  }

  .aboutintro h2 {
      font-size:36px;
      padding-bottom:20px;
  }

  .profilephoto img {
    width:600px;
    padding-top:80px;
    padding-left:100px;
  }

  .meloimage {
    text-align: left;
  }

  .meloimage img {
      width:450px;
      
  }

  header {
    z-index:100;
}
}

@media only screen and (min-width: 1600px) {
    .profilephoto img {
        width:650px;
    }

    .meloimage img {
        width:650px;
    }
}


/* CONTACT PAGE MEDIA QUERIES */

@media only screen and (max-width: 360px) {

    .contactcontainer {
        padding-left:20px;
        padding-right:20px;
    }
    .form-control {
        width: 250px;
      }

    .contacttext {
        padding-right:0px;
    }

}

@media only screen and (min-width: 768px) {
    
    .contactcontainer {
    padding-left: 80px;
    padding-right:80px;
    }
}


@media only screen and (min-width: 1200px){

    .logo img {
        width:70%;
        padding-top:15px;
        padding-left:20px;
        }

.contacttext {
    padding-top:150px;
    }

.contacttext h1 {
    font-size:33px;
    padding-bottom:40px;
    }


.contactcontainer {
    padding-bottom:100px;
    padding-left:80px;
    padding-right:80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "contacttext . contact-form"
  }

  .contact-form {
      padding-top:100px;
  }

  .form-control {
    width: 400px;
  }

  .submit {
      width:250px;
  }


  .form-control {
    width: 290px;

}

.contacttext {
    padding-right:50px;
}

}




/* FOOTER QUERIES FOR BOTH */

@media only screen and (max-width: 360px) {

footer ul img {
    width:25px;
}


}

@media only screen and (min-width: 768px) {
    .contactfooter {
        padding-top:0px;
    }

    footer h2 {
        font-size:28px;
    }
    
    footer a {
        
       padding:40px;
    }
    
    .heart img{
       width:30px;
    }

    footer ul img {
        width:30px;
    }
}
