
/* GLOBAL */

body{
    font-family: 'BlinkMacSystemFont', '-apple-system', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align:center;
}

.container{
    overflow:hidden;
    text-align:center;
    margin-left: 20px;
    margin-right:20px;
}

h2 {
    font-size:25px;
    font-weight:bold;
   
}

h3 {
    font-size:20px;
    font-weight:bold;
    text-align:left;
}

p {
    text-align:left;
}





/* NAV */

nav ul {
    float: right;
    padding-top:30px;
    
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 350px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

nav a:hover {
    color:white;
    
}

@media screen and (max-width: 864px) {
    .logo {
          padding: 0;
    }

    .nav-wrapper {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background: #F5F8FF;
          opacity: 0;
          transition: all 0.2s ease;
    }

    .nav-wrapper ul {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
    }

    .nav-wrapper ul li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
          transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
          transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
          transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
          transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child) {
          margin-left: 0;
    }

    .nav-wrapper ul li a {
          padding: 10px 24px;
          opacity: 0;
          color: #000;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 1.2px;
          transform: translateX(-20px);
          transition: all 0.2s ease;
    }

    .nav-btn {
          position: fixed;
          right: 10px;
          top: 10px;
          display: block;
          width: 48px;
          height: 48px;
          cursor: pointer;
          z-index: 9999;
          border-radius: 50%;
    }

    .nav-btn i {
          display: block;
          width: 20px;
          height: 2px;
          background: #000;
          border-radius: 2px;
          margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
          margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
    }

    .nav-btn i:nth-child(3) {
          margin-top: 4px;
    }
}

#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}


/* REST OF HERO */

.logo {
    float: left;
    margin-top:10px;
    padding-top:20px;
    padding-left: 20px;
    }

.logo img {
    width:115px;
    }

.classkarmalogo  {
    padding-top:150px;
}

.classkarmalogo img {
    width:250px; 
}

.projecthero h2 {
    font-size: 20px;
    color:#3DCEFD;
    padding-top:50px;
    padding-bottom: 100px;
    padding-left:20px;
    padding-right:20px;
}

.tagline {
    font-weight: 500;
}

#heroimage img {
    width:300px;
    padding-bottom:100px;
}

.projecthero {
    background:url(../images/projectimages/projectherobackground.png) no-repeat;
    min-height:100vh;
    background-size: cover;
    background-position:top;
}


/* BENEATH THE FOLD */

.block {
    background-color:#F5F8FF;
    min-height:437px;
    padding-top:60px;
    padding-bottom:50px;
    text-align:center;
}

.boldchallenge {
    font-weight:bold;
}

#collegeillustration img {
    width:287px;
}

#projecticons img {
    width:64.64px;
    padding:28px;
}

#projectdetails {
    background-color:#DFF3FD;
    min-height:437px;
    padding-left:5%
}

.underline {
    border-bottom: 5px solid #FBF6C7
}
   

#role, #deliverables, #tools {
    padding: 20px; 
}

#projectdetails li {
    list-style:none;
}

#projectdetails h3 {
    padding-bottom:15px;
    text-align:center;
}

#mockupinhand img {
    width:375px;
}

.centeredcontainer {
    width:100%;
}

#survey, #competitiveanalysis, #personas, #userstories, #userflows, #contentstrategy, #sketchesandwireframing, #usabilitytesting, #branding, #preferencetest, #finalthoughts {
    padding-top:50px;
    padding-bottom:50px;
}

#survey img {
    padding:50px;
    width: 250px;
}

#survey h3, #survey p {
    padding-bottom:20px;
}


#dropbox img, #googledrive img, #evernote img {
    width: 160px;
    padding-top:30px;
    padding-bottom:10px;
}

#competitiveanalysis li {
    text-align: left;
    padding-bottom:30px;
}

hr {
    width:50%;
    border-top: 1px solid #D2D2D2 
}


#competitiveanalysis li {
    display:list-item;
    list-style-position: inside;
  }

#crystal, #ana, #henry {
    padding-bottom: 30px;
    padding-top:30px;
}

#personas h3, #personas p {
    text-align:center;
    padding-top:10px;
}

#personas h4 {
    color:#FD7254;
}


#userstories p {
    font-family: 'Mansalva';
    padding-bottom:30px;
    text-align:center;
}

#userstories h4{
    padding-bottom: 20px;
    font-weight:bold;
}

.underlinegreen {
    border-bottom: 5px solid #C7FBDC
}

.underlineyellow {
    border-bottom: 5px solid #FBF6C7
}

.underlinered {
    border-bottom: 5px solid #FBC7C7
}

#userflows h4 {
    color:#3DCEFD;
    padding-bottom:20px;
    font-weight:bold;
}

#userflows img, #contentstrategy img {
    padding-bottom: 50px;
}

#sketchesandwireframing {
    background: url(../images/projectimages/sketchesbackground.png);
}

#sketchesandwireframing p {
    padding-bottom:30px;
    font-weight: bold;
    text-align:center;
}

#usabilitytesting img {
    padding-bottom:50px;
    padding-top:20px;
    width:245px;
}

#usabilitytesting h2, #usabilitytesting p {
    padding-bottom:20px;
}
#usabilitytesting {
    background-color: #E0F0F8;
}

.snippet {
    color:grey;
    border: 3px solid white;
}

.snippet p {
    padding:20px;
    font-size:14px;
    text-align:center;
}


 #branding p, #branding img{
    padding-bottom:50px;
}

#branding h2 {
    padding-bottom:20px;
}

#fivescreenmockup-description p, #fivescreenmockup img {
    padding-bottom:30px;
}

#fivescreenmockup-description img {
    width:330px;
}

.desktopmockup p {
    text-align:center;
}

video {
    width:100%;
}

#preferencetest img {
    padding:30px;
    width:300px;
    
}

#preferencetest h3 {
    text-align:center;
    font-weight: 400;
}

#preferencetest p {
    padding-bottom: 40px;
}



.block {
    display:flex;
    align-items:center;
}

.centered {
    text-align: center;
}

.block h2 {
    padding-bottom:20px;
}

.block p {
    padding-bottom:20px;
}

.button {
    background: #02A0D4;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border:solid 2px #02A0D4;
    border-radius: 5px;
    padding: 10px 30px;
    color:white;
    font-family:'BlinkMacSystemFont', '-apple-system';
    font-size:14px;
    text-decoration: none;
 }

 .buttondiv {
     padding-top:20px;
     padding-bottom:10px;
 }


 .processcontainer {
     width:100%;
 }

 #survey .surveytextspacing {
    padding-bottom:50px;
}

#finalthoughts p {
    padding-bottom:30px;
}

.videocaption {
    text-align:center;
    padding-bottom:20px;
}


/* FOOTER */

footer {
    background-color:#F3F6F7;
}

footer h2 {
    padding-top:40px;
    padding-bottom:40px;
}

.button11 {
    background: #D94420;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border:solid 2px #D94420;
    border-radius: 5px;
    padding: 10px 40px;
    color:white;
    font-size:14px;
    text-decoration: none;
 }

footer p {
    text-align: center;
    font-size: 12px;
}

footer ul {
    margin:auto;
}

footer li {
    display: inline-block;
    padding-top:50px;
    padding-bottom:20px;
}

footer a {
    padding:20px;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {

    .logo img {
        width:153px;
        }

    .container {
        margin-left: 125px;
        margin-right: 125px;
    }
    .classkarmalogo img {
        width:250px;
    }

    #heroimage img {
        width:500px;
    }

    .challengeblock {
    display:flex;
    align-items:center;
    }

    .challengecontainer {
        justify-content:column;
        display:flex;
    }

    .challengecontent {
        text-align:left;
    }

    #collegeillustration img {
        width:600px;
    }

    #projecticons img {
        width:130px;
        padding-left:150px;
        padding-right:150px;
    }

    #role, #deliverables, #tools {
        padding: 0px; 
    }

    #projectdetails .projectgroup {
    float:left;
    margin: 5%;
    width: 20%;
    text-align:center;
    padding-top:0;
    margin-top:50px;
    }

    #mockupinhand img {
        width:1440px;
    }

    .block h2 {
        font-size:36px;
    }

     p {
        font-size:22px;
    }

    h3 {
        font-size:25px;
    }
  
    #survey img {
        width:350px;
    }

    #userstories h4, #userstories p {
        font-size:24px;
        padding-bottom:50px;
    }

    #userstories h4 {
        padding-top:30px;
    }

    #userflows h4 {
        font-size:24px;
    }

    #userflows img {
        width:700px;
    }

  #fivescreenmockup img {
    width:100%;
  }

  #fivescreenmockup-description video {
      width:450px;
  }

  #fivescreenmockup-description .desktopmockup img {
      width:800px;
  }

  #preferencetest img {
      width:500px;
  }

  .container video {
      width:320px;
  }

  #sketchesandwireframing img {
      width:300px;
  }

.button {
    font-size:18px;
}

#survey .button2div {
    padding-bottom:20px;
}

.competitiveanalysisblock p, .personasblock p, .userstoriesblock p {
    text-align: center;
}

#contentstrategy img {
    width:600px;
}

.snippet {
    width:400px;
    background-color:none;
}

.snippet p {
    font-size:18px;
    color:black;
}

#preferencetest .preferencelogo {
    width:380px;
}

#deliverables {
    padding-left:20px;
}

#survey .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
      "surveyintro surveyintro" 
      "surveyp surveyp"
      "surveyflextext . surveyimg"
      "nonflexsurvey nonflexsurvey";
  }

  .surveyintro, .surveyp {
      grid-column-start: 1;
      grid-column-end: 3;
  }

  .nonflexsurvey {
      grid-column-start: 1;
      grid-column-end: 3;
  }

 #survey .nonflexsurvey {
     margin-top:50px;
 }

  .button2div {
      grid-column-start:1;
      grid-column-end:3;
  }

  .analysislist {
      float:left;
  }

