

body{
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 28px;
    padding: 0;
    margin:0;
}

.container{
    margin: auto;
    overflow:hidden
}

/* HERO SECTION */

/* NAVIGATION */


nav ul {
    float: right;
    padding-top:30px;
    
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 350px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

nav a:hover {
    color:white;
    
}

@media screen and (max-width: 864px) {
    .logo {
          padding: 0;
    }

    .nav-wrapper {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background: #FEF1EB;
          opacity: 0;
          transition: all 0.2s ease;
    }

    .nav-wrapper ul {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
    }

    .nav-wrapper ul li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
          transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
          transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
          transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
          transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child) {
          margin-left: 0;
    }

    .nav-wrapper ul li a {
          padding: 10px 24px;
          opacity: 0;
          color: #000;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 1.2px;
          transform: translateX(-20px);
          transition: all 0.2s ease;
    }

    .nav-btn {
          position: fixed;
          right: 10px;
          top: 10px;
          display: block;
          width: 48px;
          height: 48px;
          cursor: pointer;
          z-index: 9999;
          border-radius: 50%;
    }

    .nav-btn i {
          display: block;
          width: 20px;
          height: 2px;
          background: #000;
          border-radius: 2px;
          margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
          margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
    }

    .nav-btn i:nth-child(3) {
          margin-top: 4px;
    }
}

#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}

/* REST OF HERO */


.logo {
    float: left;
    margin-top:10px;
    padding-top:20px;
    padding-left: 20px;
    }

.logo img {
    width:115px;
    }

.hero {
    min-height:100vh;
    background: url('../images/mobileheroimage.png') no-repeat;
    background-size: cover;
    background-position:top right

}

.herotext h1, p {
    text-align: center; 
}

.herotext h1 {
    font-size:48px;
    padding-bottom:50px;
    padding-top:200px;
}

.herotext p {
    font-size:17px;
    padding-bottom:170px;
    margin-left:5px;
    margin-right:5px;
    line-height:0px;
}

.userspeople {
    position:relative;
    top: 13px;
    
}


.worldimage {
    text-align:center;
}

/* .downarrow {
    margin:auto;
    width: 10%; 
}

.featuredwork {
    padding-top:100px;
    font-size: 14px;
    color:white;
    font-weight: bold

} */

/* PROJECT */

 .classkarmaproject {
     text-align:center;
     background-color: #F3FCFF;
     padding-bottom:100px;
 }

 .classkarmaproject h2 {
    color: #3DCEFD;
    font-size: 36px;
    padding-bottom:20px;
 }

 .classkarmaproject p {
     color: #575757;
     padding-bottom:20px;
     margin-left:70px;
     margin-right:70px;
 }

 .classkarmaprojectmockup img {
     width:375px;
 }

 .tags img {
    padding-bottom:20px;
 }

 .classkarmaproject .projdescription {
     padding-bottom:40px;
 }


 .button1 {
    /* width: 160.11px;
    height: 43.2px; */
    background: #3DCEFD;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border:solid 2px #3DCEFD;
    border-radius: 5px;
    padding: 10px 30px;
    color:white;
    font-size:14px;
    text-decoration: none;
 }


/* SKILLS */

#process {
    margin-top:50px;
    padding-bottom:50px;
    margin-left: 70px;
    margin-right:70px;
}

#process .intro {
    text-align: center;
}

.intro h2 {
    font-size:30px;
    padding-bottom:30px;
    color: #575757;
}

.intro p {
    color: #575757;
    padding-bottom: 40px;
}

#process .skill {
    /* float: left; */
    width: 100%;
    text-align: center;
    font-size: 16px;
}

#process .skill img {
    width: 150px;
    
}

.skill h3 {
    font-size: 22px;
    font-weight: bold;
    color: #456978;
    padding-bottom:10px;
}

.skill p {
    padding-bottom:30px;
}

/* TESTIMONIAL */

.testimonial {
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
    background-color:#F3F6F7;
}

.testimonial h2 {
    font-size:24px;
    font-weight: bold;
    padding-bottom:30px;
}

.testimonial p {
    margin-left: 60px;
    margin-right:60px;
}

.testimonial img {
    width:80px;
    padding: 15px;
}

.caption {
    font-size:14px;
    line-height: 20px;;
}

/* FOOTER */

footer {
    padding: 20px;
    /* margin-top: 100px; */
    text-align: center;
}

footer h2 {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size:22px;
}

.button2 {
    background: #D94420;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border:solid 2px #D94420;
    border-radius: 5px;
    padding: 10px 40px;
    color:white;
    font-size:14px;
    text-decoration: none;
 }

.heart {
    position:relative;
    top: 5px;
}

footer ul {
    margin:auto;
}

footer li {
    display: inline-block;
    padding-top:70px;
    padding-bottom:20px;
}

footer a {
    padding:20px;
}


/* MEDIA QUERIES */

/* DESKTOP HOME */

@media only screen and (min-width: 768px) {
.hero {
    background-image: url(../images/heroimageslice.png);
    min-height:100vh;
    background-size: cover;
    background-position:top right
}

.logo img {
    width:153px;
    }

.herotext h1 {
    font-size:50px;
}
 
.herotext p {
    font-size:24px;
    padding-bottom:130px;
    margin-left:5px;
    margin-right:5px;
    line-height:0px;
}

.classkarmaproject {
    padding-bottom:0px;
}

.classkarmaproject h2 {
   color: #3DCEFD;
   font-size: 48px;
   padding-bottom:40px;
}

.classkarmaproject p {
    font-size:24px;
}

.classkarmaprojectmockup img {
    width:650px;
}

.classkarmaprojectmockup {
    order:2;
    padding-top:80px;
    margin-right:100px;
}

.button1 {
    font-size:18px;
 }

 .classkarmaproject {
    display:flex;
    align-items:center;
 }

 .projectcontent p, .projectcontent h2, .tags {
     text-align: left;
 }

 .tags {
     padding-top:10px;
     padding-bottom:10px;
 }

 .projectcontent p {
     margin-left:0px;
 }

 .projectcontent {
     margin-left:100px;
 }

 .buttondiv1 {
     text-align:left;
     padding-top:50px;
 }

 #process .skill {
    float:left;
    margin: 1%;
    width: 18%;
 }

 #process .intro h2 {
     padding-top:10px;
     font-size:40px;
 } 

 #process .intro p {
     font-size:20px;
 }

 #process .skill p {
     font-size:16px;
 }

 footer h2 {
     font-size:28px;
 }

 .heart img{
    width:30px;
 }
}







